@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body{
  background-color:#edf9f1; 
}

.navbar-brand{
font-family: Acme;
}

.btn-info {
  color: white !important;
  font-weight: bold!important;
  border-radius: 4px!important;
  padding: 10px !important;
  font-size: 1rem !important;
  display: flex !important;
  justify-content: center !important;
  background-color:#e7e7e7  !important;
  border-color: #e7e7e7!important;
 }
 
 .nav-logo{
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .card{
   border-color: transparent !important;
   background-color:transparent !important;
 }