@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body{
  background-color:#ffffff; 
}

.navbar-brand{
font-family: Acme;
}

.btn-info {
  color: white !important;
  font-weight: bold!important;
  border-radius: 4px!important;
  padding: 10px !important;
  font-size: 1rem !important;
  display: flex !important;
  justify-content: center !important;
  background-color:#339889  !important;
  border-color: #339889 !important;
 }
 
 .nav-logo{
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .card{
   border-color: transparent !important;
   background-color:transparent !important;
 }

 .alert-content{
  display: flex;
  justify-content: center;
  font-family: Arial;
  font-weight: bold;
 }

 .alert-content h5{
  padding: 50px 5px 20px 20px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }